﻿
    <div>
        <md-card>
            <div class="md-toolbar-tools">
                <span>
                    <md-icon>
                        <img src="https://material.angularjs.org/latest/img/icons/angular-logo.svg" alt="Alternate Text" />
                    </md-icon>
                </span>
                &nbsp;
                <span style="width: 100%;text-align: center">Locations</span>

                <div flex></div>
            </div>
            <md-table-container style="border: 1px">
                <table md-table md-progress="promise">
                    <thead md-head md-order="query.order" md-on-reorder="logOrder">
                        <tr md-row>
                            <td colspan="2" style="width: 100%;text-align: center">
                                <md-button class="md-primary" ui-sref="location-new" style="width: 100%;text-align: center">Create New</md-button>
                            </td>
                            <td colspan="2" style="width: 100%;text-align: center">
                                <md-button class="md-primary" ng-click="$ctrl.loadLocations()">Refresh</md-button>
                            </td>
                        </tr>
                        <tr md-row>
                            <th md-column md-order-by="Location Name">
                                <span style="width: 100%;text-align: center">Location Name</span>
                            </th>
                            <th md-column>
                                <span style="width: 100%;text-align: center">Address</span>
                            </th>
                            <th md-column colspan="3" style="text-align:center">
                                <span style="width: 100%;text-align: center">Actions</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody md-body>
                        <tr md-row ng-repeat="location in $ctrl.locations| filter: filter.search | orderBy: query.order">
                            <td md-cell style="width: 100%;text-align: center">{{location.name}}</td>
                            <td md-cell style="width: 100%;text-align: center">{{location.address}}</td>
                            <td><md-button class="md-primary" ng-click="$ctrl.edit(location)">Edit</md-button></td>
                            <td><md-button class="md-warn" ng-click="$ctrl.delete(location)">Delete</md-button></td>
                        </tr>
                    </tbody>
                </table>
            </md-table-container>
        </md-card>
    </div>
