﻿<div class="modal-header">
    <h4 class="modal-title">Edit Expense</h4>
</div>
<div class="modal-body">
    <form class="form">
        <div class="form-group">
            <label>Details</label>
            <input type="text" class="form-control" id="required" ng-model="$ctrl.expense.details" >
        </div>
        <div class="form-group">
            <label>Amount</label>
            <input type="text" class="form-control" id="required" ng-model="$ctrl.expense.amount">
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="$ctrl.save()">Save</button>
    <button type="button" class="btn btn-default" ng-click="$ctrl.cancel()">Cancel</button>
</div>