﻿.modal {
    background-color: lightgray;
}
.md-datepicker-is-showing .md-scroll-mask{
    z-index:1200;
}

.fa-sort{
    width:16px;
}

.md-datepicker-calendar-pane {
    z-index: 1210;
}

.requiredField::after, #required::after {
    content: "*";
    color: red;
}


.has-success {
    background-color: lightgreen;
    opacity: .2;
}


.top-buffer {
    margin-top: 10px;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}
.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}
a.nodecoration {
    text-decoration: none;
}


.table_blur {
    background: #f5ffff;
    border-collapse: collapse;
    text-align: left;
}




    .table_blur tr:nth-child(odd) {
        background: #ebf3f9;
    }

    .table_blur th:first-child {
        border-left: 1px solid #777777;
        border-bottom: 1px solid #777777;
    }

    .table_blur th:last-child {
        border-right: 1px solid #777777;
        border-bottom: 1px solid #777777;
    }

    .table_blur td {
        border: 1px solid #e3eef7;
        padding: 10px 15px;
        transition: all 0.5s ease;
    }
