﻿<form name="meetingForm" novalidate>
    <!--<table id="tblContainer">
        <tbody>
            <tr>
                <td>-->
                    <table class="table_blur" id="tblMeeting">
                        <tbody>
                            <tr>
                                <td>
                                    <span class="requiredField">Meeting Name</span>
                                </td>
                                <td>
                                    <input type="text" id="name" class="requiredFiel" name="meetingName" required ng-model="$ctrl.meeting.name" ng-class="{'has-error': meetingForm.meetingNames.$dirty && meetingForm.meetingName.$error.required}">
                                    <span ng-show="meetingForm.meetingName.$dirty && meetingForm.meetingName.$error.required">Meeting Name is required field</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="requiredField">Description</span>
                                </td>
                                <td>
                                    <input type="text" id="description" name="meetingDescription" ng-model="$ctrl.meeting.description">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="requiredField">Date</span>
                                </td>
                                <td>
                                    <md-datepicker name="meetingDate" class="requiredFiel" required ng-model="$ctrl.meeting.date" ng-class="{'has-error': meetingForm.meetingDate.$dirty && meetingForm.meetingDate.$error.required}"></md-datepicker>
                                    <span ng-show="meetingForm.meetingDate.$dirty && meetingForm.meetingDate.$error.required">Date is required</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="requiredField">Location</span>
                                </td>
                                <td>
                                    <select ng-model="$ctrl.meeting.location_ID" class="requiredFiel" ng-options="location.id as location.name for location in $ctrl.locations">
                                        <option value="value">text</option>
                                    </select>
                                    <!--<md-select name="meetingLocation" required ng-class="{'has-error': meetingForm.meetingLocation.$dirty && meetingForm.meetingLocation.$error.required}" ng-model="$ctrl.meeting.location.name" ng-model-options="{ trackBy: '$value.id' }">
                                        <md-option  ng-model="$ctrl.meeting.location_ID" ng-options="location.id as location.name for location in $ctrl.locations">
                                            {{location.name}}
                                        </md-option>
                                    </md-select>-->
                                    <span ng-show="meetingForm.meetingLocation.$dirty && meetingForm.meetingLocation.$error.required">Location is required</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="button" id="cancel" value="Cancel" ng-click="$ctrl.cancel()" ui-sref="meeting">
                                </td>
                                <td colspan="2">
                                    <input type="button" id="save" value="Save" ui-sref="meeting" ng-disabled="meetingForm.meetingName.$invalid || meetingForm.meetingDate.$invalid || meetingForm.meetingLocation.$invalid"" ng-click="$ctrl.save()">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div>{{$ctrl.message}}</div>
                <!--</td>
            </tr>
        </tbody>
    </table>-->
</form>

