﻿<div ng-cloak>
    <md-nav-bar md-selected-nav-item="currentNavItem">
        <md-nav-item md-nav-sref="meeting" name="meeting">
            Meetings
        </md-nav-item>
        <md-nav-item md-nav-sref="expense" name="expense">
            Expenses
        </md-nav-item>
        <md-nav-item md-nav-sref="location" name="location">
            Locations
        </md-nav-item>
        <span flex></span>
        <md-nav-item md-nav-sref="login" name="login" style="right: 150px">
            Log in
        </md-nav-item>
        <md-nav-item md-nav-sref="login" name="login" style="right: 150px" ng-click="$ctrl.Logout()">
            Log out
        </md-nav-item>
    </md-nav-bar>
</div>	  