﻿<form name="locationForm" novalidate>
    <table id="tblContainer">
        <tbody>
            <tr>
                <td>
                    <table class="table_blur" id="tblLocation">
                        <tbody>
                            <tr>
                                <td>
                                    <span class="requiredField">Name</span>
                                </td>
                                <td>
                                    <input type="text" id="name" name="locationName" required class="requiredField" ng-model="$ctrl.location.name" ng-class="
             {
             'has-error':!locationForm.locationName.$valid && !locationForm.locationName.$pristine,
             'has-success':locationForm.locationName.$valid && !locationForm.locationName.$pristine
             }
             ">
                                    <span ng-show="locationForm.locationName.$error.required && !locationForm.locationName.$pristine">Location Name is required field</span>
                                </td>
                               
                            </tr>
                            <tr>
                                <td>
                                    <span class="requiredField">Address</span>
                                </td>
                                <td>
                                    <input type="text" id="address" name="locationAddress" required class="requiredField" ng-model="$ctrl.location.address" ng-class="
             {
             'has-error':!locationForm.locationAddress.$valid && !locationForm.locationAddress.$pristine,
             'has-success':locationForm.locationAddress.$valid && !locationForm.locationAddress.$pristine
             }
             ">
                                    <span ng-show="locationForm.locationAddress.$error.required && !locationForm.locationAddress.$pristine">Location Address is required field</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="button" id="cancel" value="Cancel" ng-click="$ctrl.cancel()" ui-sref="location">
                                </td>
                                <td colspan="2">
                                    <input type="button" id="save" value="Save" ui-sref="location" ng-disabled="locationForm.locationAddress.$invalid || locationForm.locationName.$invalid" ng-click="$ctrl.save()">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div>{{$ctrl.message}}</div>
                </td>
            </tr>
        </tbody>
    </table>
</form>


