﻿<div class="modal-header">
    <h4 class="modal-title">Aou are not logged in</h4>
</div>
<div class="modal-body">
    <form class="form">
        <div class="form-group">
            <p> Please log in the system </p>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="$ctrl.ok()">Ok</button>
</div>