﻿<md-toolbar class="md-table-toolbar md-default">
    <div class="md-toolbar-tools">
        <span>Expenses</span>
    </div>
</md-toolbar>

<md-table-container>
    <table md-table md-row-select ng-model="$ctrl.selected" md-progress="promise">
        <thead md-head md-order="$ctrl.query.order" md-on-reorder="getExpenses">
            <tr md-row>
                <th md-column md-numeric>Details<i class="fa fa-sort" aria-hidden="true" ng-click="$ctrl.changeSorting('Details')"></i></th>
                <th md-column md-numeric>Amount<i class="fa fa-sort" aria-hidden="true" ng-click="$ctrl.changeSorting('Amount')"></i></th>
                <th md-column md-numeric>Action</th>
            </tr>
        </thead>
        <tbody md-body>
            <tr md-row md-select="expense" md-select-id="expense.id" md-auto-select ng-repeat="expense in $ctrl.expenses | orderBy: $ctrl.sort.column:$ctrl.sort.descending">
                <td md-cell>
                    <input type="text" ng-model="expense.details" ng-if="$ctrl.edit" ng-change="$ctrl.AddEitedExpense(expense)"/>
                    <span ng-if="!$ctrl.edit">{{ expense.details }}</span>
                </td>
                <td md-cell>
                    <input type="text" ng-model="expense.amount" ng-if="$ctrl.edit" ng-change="$ctrl.AddEitedExpense(expense)"/>
                    <span ng-if="!$ctrl.edit">{{ expense.amount }}</span>
                </td>
                <td md-cell><md-button ng-click="$ctrl.delete(expense)">Delete</md-button></td>
            </tr>
        </tbody>
    </table>
</md-table-container>

<md-button ui-sref="expense-new" >Create New</md-button><md-button ng-click="$ctrl.editMode()">Edit All</md-button> <md-button ng-click="$ctrl.saveAll()">Save All</md-button>

<md-table-pagination md-limit="$ctrl.query.limit" md-limit-options="[5, 10, 15]" md-page="$ctrl.query.page" md-total="{{$ctrl.expenses.count}}" md-on-paginate="$ctrl.getExpenses" md-page-select></md-table-pagination>