﻿<form name="loginForm" novalidate>
    <div class="form-group" ng-class="
             {
             'has-error':!loginForm.Login.$valid && !loginForm.Login.$pristine,
             'has-success':loginForm.Login.$valid && !loginForm.Login.$pristine
             }
             ">
        <label for="Login">Login</label>
        <input type="text"
               ng-model="user.email"
               name="Login"
               class="form-control"
               placeholder="Login"
               required>
        <p class="text-danger" ng-show="loginForm.Login.$error.required && !loginForm.Login.$pristine">
            This field is required
        </p>
    </div>
    <div class="form-group" ng-class="
             {
             'has-error':!loginForm.Password.$valid && !loginForm.Password.$pristine,
             'has-success':loginForm.Password.$valid && !loginForm.Password.$pristine
             }
             ">
        <label for="Password">Password</label>
        <input type="password"
               ng-model="user.password"
               name="Password"
               class="form-control"
               placeholder="Password"
               required>
        <span class="text-danger" ng-show="loginForm.Password.$error.required && !loginForm.Password.$pristine">
            This field is required
        </span>
    </div>
    <button class="btn btn-primary" ng-click="$ctrl.login(user)">Login</button>
</form>