﻿<form name="expenseForm" novalidate>
    <div ng-if="!$ctrl.expense">
        <md-progress-circular class="md-accent md-hue-1 loader" md-diameter="60"></md-progress-circular>
        <div class="overlay"></div>
    </div>
    <table id="tblContainer" ng-if="$ctrl.expense">
        <tbody>
            <tr>
                <td>
                    <table id="tblMeeting">
                        <tbody>
                            <tr>
                                <td>
                                    <span class="requiredField">Details</span>
                                </td>
                                <td>
                                    <input type="text" id="details" class="requiredFiel" name="expenseDetails" required ng-model="$ctrl.expense.details" ng-class="{'has-error': expenseForm.expenseDetails.$dirty && expenseForm.expenseDetails.$error.required}">
                                    <span ng-show="expenseForm.expenseDetails.$dirty && expenseForm.expenseDetails.$error.required">Expense Details is required field</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="requiredField">Amount</span>
                                </td>
                                <td>
                                    <input type="text" id="amount" class="requiredFiel" name="expenseAmount" ng-pattern="/^[0-9]{1,4}(.[0-9][0-9])?$/g"  required ng-model="$ctrl.expense.amount" ng-class=
                                           "{
                                           'has-error': expenseForm.expenseAmount.$dirty && expenseForm.expenseAmount.$error.required,
                                           'has-success':  expenseForm.expenseAmount.$valid || expenseForm.expenseAmount.$pristine
                                           }">
                                    <span ng-show="expenseForm.expenseAmount.$dirty && expenseForm.expenseAmount.$error.required">Expense Amount is required field</span>
                                    <span ng-show="expenseForm.expenseAmount.$error.pattern">Numbers only are allowed</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="button" id="cancel" value="Cancel" ui-sref="expense">
                                </td>
                                <td colspan="2">
                                    <input type="button" id="save" value="Save"  ui-sref="expense" ng-disabled="expenseForm.expenseDetails.$invalid || expenseForm.expenseAmount.$invalid" ng-click="$ctrl.save()">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div>{{$ctrl.message}}</div>
                </td>
            </tr>
        </tbody>
    </table>
  </form>

