﻿<div class="modal-header">
    <h4 class="modal-title">Edit Meeting</h4>
</div>
<div class="modal-body">
    <form class="form">
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" id="required" ng-model="$ctrl.meeting.name">
        </div>
        <div class="form-group">
            <label>Date</label>
            <md-datepicker name="meetingDate" required ng-model="$ctrl.meeting.date"></md-datepicker>
        </div>
        <div class="form-group">
            <label>Description</label>
            <input type="text" class="form-control" id="required" ng-model="$ctrl.meeting.description">
        </div>
        <div class="form-group">
            <label>Location</label>
            <select ng-model="$ctrl.meeting.location_ID" ng-options="location.id as location.name for location in $ctrl.locations">
                <option value="value">text</option>
            </select>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="$ctrl.save()">Save</button>
    <button type="button" class="btn btn-default" ng-click="$ctrl.cancel()">Cancel</button>
</div>