﻿
    <div class="modal-header">
        <h4 class="modal-title">Edit Location</h4>
    </div>
    <div class="modal-body">
        <form class="form" name="locationEditForm">
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" name="locationName" id="required" ng-model="$ctrl.location.name" ng-class="
             {
             'has-error':!locationEditForm.locationName.$valid && !locationEditForm.locationName.$pristine,
             'has-success':locationEditForm.locationName.$valid && !locationEditForm.locationName.$pristine
             }
             ">
            </div>
            <div class="form-group">
                <label>Address</label>
                <input type="text" class="form-control" name="locationAddress" id="required" ng-model="$ctrl.location.address" ng-class="
             {
             'has-error':!locationEditForm.locationAddress.$valid && !locationEditForm.locationAddress.$pristine,
             'has-success':locationEditForm.locationAddress.$valid && !locationEditForm.locationAddress.$pristine
             }
             ">
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="$ctrl.save()">Save</button>
        <button type="button" class="btn btn-default" ng-click="$ctrl.cancel()">Cancel</button>
    </div>
