﻿<div>
    <md-card>
        <div class="md-toolbar-tools">
            <span>
                <md-icon>
                    <img src="https://material.angularjs.org/latest/img/icons/angular-logo.svg" alt="Alternate Text" />
                </md-icon>
            </span>
            &nbsp;
            <span style="width: 100%;text-align: center">Meetings</span>

            <div flex></div>
        </div>
        <md-table-container style="border: 1px">
            <table md-table md-progress="promise">
                <thead md-head md-order="query.order" md-on-reorder="logOrder">
                    <tr md-row>
                        <td colspan="2" style="width: 100%;text-align: center">
                            <md-button class="md-primary" ui-sref="meeting-new" style="width: 100%;text-align: center">Create New</md-button>
                        </td>
                        <td colspan="2" style="width: 100%;text-align: center">
                            <md-button class="md-primary" ng-click="$ctrl.loadMeetings()">Refresh</md-button>
                        </td>
                    </tr>
                    <tr md-row>
                        <th md-column md-order-by="Meeting Name">
                            <span style="width: 100%;text-align: center">Meeting Name</span>
                        </th>
                        <th md-column>
                            <span style="width: 100%;text-align: center">Description</span>
                        </th>
                        <th md-column>
                            <span style="width: 100%;text-align: center">Date</span>
                        </th>
                        <th md-column>
                            <span style="width: 100%;text-align: center">Location</span>
                        </th>
                        <th md-column colspan="3" style="text-align:center">
                            <span style="width: 100%;text-align: center">Actions</span>
                        </th>
                    </tr>
                </thead>
                <tbody md-body>
                    <tr md-row ng-repeat="meeting in $ctrl.meetings| filter: filter.search | orderBy: query.order">
                        <td md-cell style="width: 100%;text-align: center">{{meeting.name}}</td>
                        <td md-cell style="width: 100%;text-align: center">{{meeting.description}}</td>
                        <td md-cell style="width: 100%;text-align: center">{{meeting.date | date:'MM/dd/yyyy'}}</td>
                        <td md-cell style="width: 100%;text-align: center">{{meeting.location.name}}</td>
                        <td><md-button class="md-primary" ng-click="$ctrl.edit(meeting)">Edit</md-button></td>
                        <td><md-button class="md-warn" ng-click="$ctrl.delete(meeting)">Delete</md-button></td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>
    </md-card>
</div>

